%html
  %head
    %title Kilobytely: the URL lengthener
    %link{rel: 'stylesheet', type: 'text/css', href: 'style.css', media: 'screen'}
  %body
    %div#container
      %div#banner
        %h1 Kilobytely
        %p Because short URLs are for suckers.

      %form
        %input{placeholder: 'http://google.com', type: 'url', name: 'url'}
        %input{type: 'submit', id: 'submit', value: 'Lengthen'}
      - if encoded_url
        %p#url_container
          %a{href: encoded_url}= encoded_url

      %footer
        %p
          &copy;
          = Time.now.year
          %a{href: 'http://harryrschwartz.com'} Harry R. Schwartz
          | Code for this thing is on
          %a{href: 'http://github.com/hrs/kilobytely'} Github
        %p
          Let the record show that I have nothing but &hearts; for the fine folks over at
          %a{href: 'http://bitly.com'} bitly
          \=)
