body {
    font-family: Helvetica, sans;
}

#banner {
    text-align: center;
    margin-bottom: 40px;
}

#container {
    width: 700px;
    margin: 0 auto;
}

#url_container {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    font-family: Consolas, Menlo, Courier, monospace;
    word-wrap: break-word;
}